form {
	width: 450px;
	margin: 1rem 0 4rem 0;
	padding: 2rem;
	background-color: #24327759;
	color: #edeae7;
	border-radius: 8px;
	box-shadow: 4px 2px 4px rgba(18, 105, 105, 0.77);
}
.legend-contact-form {
	font-size: 30px;
	padding: 0 1rem;
}
.form-group {
	margin-bottom: 1rem;
}
label {
	display: block;
	margin: 1rem 0 0 1rem;
}
input,
textarea {
	width: 90%;
	padding: 0.5rem;
	margin-left: 1rem;
	border: 1px solid #2c2a2a;
	border-radius: 4px;
	background-color: #99d9db;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
}
.nav-contact-page {
	color: #ffffff;
}
.form-button {
	margin: 0 auto;
	cursor: /* Start https://www.cursors-4u.com */
		url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto; /* End https://www.cursors-4u.com */
}
.contact-page {
	display: flex;
	justify-content: center;
	background: linear-gradient(#121212 95%, #2ad7d7c4);
}
.nav-box-contact {
	background-color: #121212;
}