*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.blue-background {
	background-color: #2ad7d7c4;
}
body {
	overflow-x: hidden;
}
nav {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	padding: 0.3em;
	background-color: #21adad97;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 1rem 0 1rem 0;
	width: fit-content;
	margin: 0 auto;
}
.nav-box {
	padding: 0.5rem;
	background-color: #121212;
}
a {
	padding: 0 0.3em;
}
footer {
	margin-top: auto;
	text-align: center;
}
.header-box,
footer {
	background-color: #121212;
	color: #e1d9d1;
	width: 100vw;
	text-align: center;
	padding: 0.3rem;
}
#hi-box {
	padding-top: 25vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 55vh;
}
.link-box {
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}
.project-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	background-color: #24327759;
	margin: 1.5rem;
	padding: 1rem;
	border-radius: 20px;
	max-width: 500px;
	box-shadow: 4px 2px 4px rgba(18, 105, 105, 0.77);
}
.contact-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	text-wrap: balance;
}
.contact-content > * {
	flex: 1 1 45%;
}
#skills-section {
	background: linear-gradient(#121212 90%, #2ad7d7c4);
}
#project-section,
#skills-section {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #e1d9d1;
	padding-bottom: 100px;
}
#project-section {
	margin: 0 auto;
	background: linear-gradient(#121212 97%, #2ad7d7c4);
}
#contact-section {
	background: linear-gradient(#121212 90%, #2ad7d7c4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #e1d9d1;
	padding: 8rem 0;
}
.img-illustration {
	max-height: 90px;
	max-width: 90px;
	display: flex;
	margin-right: 1rem;
}
.project-img {
	max-width: 90%;
}
.contact-wrapper {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: #ffffff2b; */
	background-color: #24327759;
	/* max-width: 40%; */
	padding: 1rem;
	max-width: 450px;
	box-shadow: 4px 2px 4px rgba(18, 105, 105, 0.77);
}

@media (max-width: 600px) {
	#hi-box {
		width: 100%;
		padding-top: 20vh;
	}
	.hi-h1 {
		max-width: 300px;
		margin: 0 auto;
		text-wrap: balance;
	}
	.project-wrapper,
	.project-text,
	.skills-p,
	.skills-h2,
	.ul-box {
		max-width: 300px;
		flex-wrap: wrap;
		margin: 0 auto;
		padding: 0;
	}
	.skills-p,
	.skills-wrapper,
	.project-text {
		padding: 0.5rem;
	}
	.project-wrapper {
		margin: 1rem;
	}
	#contact-section {
		padding: 3rem;
	}
	.skills-h2 {
		max-width: 90vw;
	}
	#project-section {
		margin: 0 auto;
		background: linear-gradient(#121212 98%, #2ad7d7c4);
	}
	#contact-section {
		background: linear-gradient(#121212 94%, #2ad7d7c4);
	}
	#skills-section {
		background: linear-gradient(#121212 94%, #2ad7d7c4);
	}
	@media (max-width: 500px) {
		.contact-content {
			flex-direction: column;
			text-wrap: balance;
		}
		.hi-paragraph {
			text-wrap: balance;
		}
	}
	@media (max-width: 350px) {
		.link-box {
			flex-direction: column;
		}
		.skills-h2,
		.project-text,
		.skills-p,
		.montserrat-p {
			margin: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
