.raleway-h1 {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: italic;
}
.cherry-swash-regular {
	font-family: "Cherry Swash", serif;
	font-weight: 400;
	font-style: normal;
}
.cherry-swash-bold {
	font-family: "Cherry Swash", serif;
	font-weight: 700;
	font-style: normal;
}
.montserrat-p {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.header-box {
	font-family: "Raleway", sans-serif;
}
.nav-a {
	text-decoration: none;
	color: #000;
	color: #e1d9d1;
	text-shadow: 1px 1px 2px #121212;
	font-family: "Montserrat", sans-serif;
}
.nav-a:hover {
	text-decoration: underline;
	text-shadow: 0.6px 0 0 currentColor;
	color: #000;
	cursor: /* Start https://www.cursors-4u.com */
		url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto; /* End https://www.cursors-4u.com */
}
a:hover {
	cursor: /* Start https://www.cursors-4u.com */
		url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto; /* End https://www.cursors-4u.com */
}
.sub-title {
	margin: 5px 0 0 0;
	text-align: center;
	font-style: oblique;
	font-size: 1.1rem;
	font-weight: lighter;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
p {
	padding: 0.1rem;
}
.hi-h1 {
	font-size: 1.8rem;
	text-transform: uppercase;
	text-shadow: 1px 1px 1.5px black;
	text-align: center;
}
.section-h1 {
	margin-top: 2rem;
	color: #e1d9d1;
	text-align: center;
}
.link-a {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #121212;
	text-shadow: none;
	font-size: small;
	text-decoration: none;
}
.link-a:hover,
.svg-icon:hover {
	color: #e1d9d1;
	cursor: /* Start https://www.cursors-4u.com */
		url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto; /* End https://www.cursors-4u.com */
}
.hi-paragraph {
	padding: 1rem;
	text-align: center;
}
.svg-icon {
	color: #000;
	margin: 0 2rem;
}
.contact-h1 {
	padding-top: 1rem;
	border-bottom: 1px solid #e1d9d1;
}
.project-text,
.skills-p,
.contact-p {
	color: #e1d9d1;
	font-family: "montserrat", sans-serif;
	padding: 0.5rem;
	align-items: center;
	text-wrap: pretty;
	text-align: center;
}
ul {
	/* max-width: 500px; */
	margin: 0 auto;
	text-wrap: balance;
	text-align: center;
}
li {
	font-family: "montserrat", sans-serif;
	text-align: center;
	list-style: none;
	display: inline-block;
	margin: 0.3rem;
	border: 1px solid #e1d9d1;
	padding: 0.5rem;
	border-radius: 10px;
}
.ul-box {
	display: flex;
	flex-wrap: wrap;
	width: 25rem;
	justify-content: center;
}
.skills-h3 {
	font-weight: normal;
	margin: 0 auto;
	padding-bottom: 0.5rem;
}
.skills-p,
.skills-h2 {
	text-align: center;
	margin: 0 auto;
}
.bio-p {
	max-width: 60%;
}
@media (max-width: 600px) {
	.bio-p {
		max-width: 70%;
	}
}
